<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #div{
  border:1px solid black;
  padding:1%;
  display:flex;
  flex-direction:row-reverse;
}
#navbr{
  margin-right:3%;
}
a{
  margin:15px;
  color:rgb(173,15,15)
}
     </style>
<body>
    <div id="div">
  <div id="navbr">
  <span>
    <a href="#">Home</a></span> 
    <a href="/login">Login</a></span> 
    <a href="/registration">Register</a></span> 
    </div>
</div>
</body>
</html>
